//- ! jqQuiz | (c) Davinchi | https://github.com/davinchi-finsi/jq-quiz/blob/master/LICENSE
include ../../common/_globalStructure/_globalStructure
include ../_jqQuizFeedback
//- @description Mixin para generar una opción. Por defecto permite generar un label y un input de tipo radio
//- Acepta todos los parámetros de _mod-baseContent.
//- Si se utiliza una
//- Adicionalmente acepta:
//- @param  {Object}        params                      Configuración
//- @param  {boolean}       params.isCorrect            Indica si la opción es la correcta
//- @param  {Object}        [params.content]            Si se indica, se genera un label y un input de tipo radio. Texto del label
//- @param  {String}        [params.name]               Si se indica params.content este parámetro es obligatorio. Valor del atributo name del input para relacionar las opciones
//- @param  {Object}        [params.label]              Configuración del label
//- @param  {Object}        [params.label.attributes]   Añade el atributos al label
//- @param  {Object}        [params.field]              Configuración del input
//- @param  {boolean}       [params.field.required]     Añade el atributo required al input
//- @param  {String}        [params.field.value]        Añade el atributo value al input
//- @param  {String}        [params.field.id]           Añade el atributo id al input
//- @param  {Object}        [params.field.attributes]   Añade el atributos al input
//- @see common/_globalStructure/_mod-baseContent
//- @example
//- +jq-quiz
//-     +jq-quiz__body({
//-         questions:[
//-             {
//-                 content:"Question 1",
//-                 options:[
//-                     {
//-                         content:"Option1",
//-                         name:"question1",
//-                         isCorrect:false
//-                     },
//-                     {
//-                         content: "Option2",
//-                         name: "question1",
//-                         isCorrect: true
//-                     }
//-                 ]
//-             }
//-         ]
//-     })
//- @example
//- +jq-quiz
//-     +jq-quiz__body
//-         +jq-quiz__questions
//-             +jq-quiz__question({
//-                 content:"Question 1"
//-             })
//-                 +jq-quiz__options
//-                     +jq-quiz__option({
//-                         content:"Option1",
//-                         isCorrect:false,
//-                         name:"question1"
//-                     })
//-                     +jq-quiz__option({
//-                         content:"Option2",
//-                         isCorrect:true,
//-                         name:"question1"
//-                     })
mixin jq-quiz__option(params)
    - params = params || {};;
    - params.field = params.field || {};
    if(params.isCorrect === undefined)
        - throw "[ERR] jq-quiz__option - The option 'isCorrect' is required"
    //Quiz option
    +_mod-baseContent({
        internalParams: {
            cssClass: "jq-quiz__option",
            attributes: {
                "data-jq-quiz-option": "",
                "data-is-correct": (params.isCorrect
                    ? "true"
                    : undefined)
            }
        },
        externalParams: params
    })&attributes(attributes)
        if(params.content)
            - params.label = params.label || {};
            //- If label is provided, the parameter name is required
            if(params.name == undefined)
                - throw "[ERR] jq-quiz__option - The option 'name' is required"
            label.jq-quiz__option-label(for=params.field.id)&attributes(params.label.attributes)
                span!= params.content
                input.jq-quiz__option-field(id=params.field.id,
                type=params.multichoice ? "checkbox":"radio",
                required=(params.field.required
                    ? "required"
                    : undefined)
                name=params.name,
                value=params.field.value)&attributes(params.field.attributes)
            if(params.feedback)
                each feedback in params.feedback
                    +jq-quiz__feedback(feedback)
        block
    //End quiz option